# --- TÊN DỰ ÁN ---
PROJECT_NAME="Web Base"
COMPOSE_PROJECT_NAME=dat_ten_cho_docker # Điều này đảm bảo việc workspace khi vào devcontainer có tên docker giống hệt root

# --- CẤU HÌNH CỔNG CHO DỰ ÁN ---
# Khi nhân bản dự án khác, bạn chỉ cần đổi các số này (VD: 3001, 8001, 15433)
HOST_PORT_FRONTEND=3000
HOST_PORT_BACKEND=8000
HOST_PORT_DB=15432

# --- DATABASE (POSTGRESQL) ---
POSTGRES_USER=my_admin
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DB=web_base

# --- BACKEND ---
API_V1_STR=/api/v1

# --- JWT ---
SECRET_KEY=chuoi_ky_tu_cho_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 ngày

# --- FRONTEND ---
VITE_API_URL=/api/v1
