# --- TÊN DỰ ÁN ---
PROJECT_NAME="Schiffs Web"
COMPOSE_PROJECT_NAME=schiffs-web

# --- CẤU HÌNH CỔNG CHO DỰ ÁN ---
HOST_PORT_FRONTEND=3000
HOST_PORT_BACKEND=8000
HOST_PORT_DB=15432

# --- DATABASE (POSTGRESQL) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password
POSTGRES_DB=schiffs_web

# --- BACKEND ---
API_V1_STR=/api/v1

# --- JWT ---
SECRET_KEY=chuoi_ky_tu_cho_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# --- FRONTEND ---
VITE_API_URL=/api/v1
