# --- TÊN DỰ ÁN ---
PROJECT_NAME="Schiffs Code FDA"
COMPOSE_PROJECT_NAME=schiffs-code-fda

# --- TÀI KHOẢN ADMIN ---
ADMIN_USERNAME=admin@system.com
ADMIN_PASSWORD=MAT_KHAU_ADMIN

# --- CẤU HÌNH CỔNG CHO DỰ ÁN ---
HOST_PORT_FRONTEND=3001
HOST_PORT_BACKEND=8001
HOST_PORT_DB=5433

# --- DATABASE (POSTGRESQL) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_SECRET_PASSWORD
POSTGRES_DB=db-schiffs

# --- BACKEND ---
API_V1_STR=/api/v1

# --- JWT ---
SECRET_KEY=chuoi_ky_tu_cho_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# --- FRONTEND ---
VITE_API_URL=/api/v1
